<div class="jumbotron">
  <h1 class="page-header">Tariff Teller</h1>
  <p>
    There are thousands of classifications of products under international law, each with their own tariff rate.  This
    tool can help you easily search for the specific type of product you'd like to import.
  </p>
  <form action="/s">
    <div class="form-group">
      <label for="term">Enter a product type:</label>
      <input type="text" id="term" name="term" placeholder="Product">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
